<!DOCTYPE html>
<html lang="en">

<head>
  <title>CyberLearn Dressing Room</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="./../assets/css/style.css" />

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="text-center">
            <img src="./../assets/images/cybersoft.png" alt="Card image" />
          </div>

          <div class="card-body">
            <h4 class="card-title text-center">
              CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến
              - Virtual Dressing Room
            </h4>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <ul class="nav nav-pills"></ul>

        <div class="well">
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="nav-pills-container" class="nav nav-pills">
              <!-- Các nav pills sẽ được thêm vào đây bằng JS -->
            </div>


            <div id="tabTopClothes" class="container tab-pane active">
              <div class="row" id="tab-content-container">
                <!-- Danh sách áo sẽ được hiển thị tại đây -->
              </div>

              <!-- Nội dung của từng tab sẽ được thêm vào đây bằng JS -->
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contain">
          <div class="body"></div>
          <div class="model"></div>
          <div class="hairstyle"></div>
          <div class="necklaces"></div>
          <div class="topclothes"></div>
          <div class="botclothes"></div>
          <div class="bikinitop"></div>
          <div class="bikinibottom"></div>
          <div class="handbags"></div>
          <div class="shoes"></div>
          <div class="background"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="./../models/ListChosen.js"></script>
  <script src="./../models/ChoseItem.js"></script>
  <script src="./../utils/callData.js"></script>
  <script src="./../controllers/main.js"></script>

</body>

</html>